//variables

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

$logo-font: "Shrikhand", sans-serif;
$main-font: "Roboto", sans-serif;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #ffffff;
$color-darkwhite: #f5f5f5;
$color-grey: #e7e7e7;
$color-darkgrey: #2f2f2f;
$color-black: #111111;

// default reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
body {
  font-family: $main-font;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}
input,
textarea,
select,
button {
  font: inherit;
}

//sections

.header {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  box-shadow: 0 0px 4px $color-darkgrey;
  position: relative;

  &__brand-logo {
    font-family: $logo-font;
    font-size: 2.2em;
  }
}
.hero {
  background-color: $color-darkwhite;

  &__location {
    background-color: $color-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 1.2em;
    gap: 15px;

    &-icon {
      width: 20px;
      height: 20px;
    }
  }
  &__presentation {
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px 40px 40px;

    &-title {
      font-size: 2em;
    }

    &-text {
      font-size: 1.3em;
    }

    &-btn {
      font-size: 1.2em;
      color: $color-white;
      background: linear-gradient(to bottom, $color-secondary, $color-primary);
      border-radius: 50px;
      padding: 18px 25px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.362);
    }
  }
}
.fonctionnement {
  &__icon {
    width: 20px;
    height: 20px;
  }
}
.restaurants {
  background-color: $color-darkwhite;
}
.card {
  &__heart-icon {
    width: 20px;
    height: 20px;
  }
}
.footer {
  background-color: $color-darkgrey;
  color: $color-white;

  &__title {
    font-family: $logo-font;
  }
  &__icon {
    width: 15px;
    height: 15px;
    color: $color-white;
  }
}
