//variables

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

$logo-font: "Shrikhand", sans-serif;
$main-font: "Roboto", sans-serif;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tertiaryDark: #197a5b;
$color-white: #ffffff;
$color-darkwhite: #f5f5f5;
$color-grey: #e7e7e7;
$color-darkgrey: #2f2f2f;
$color-black: #111111;

@mixin icon {
  width: 20px;
  height: 20px;
}

// default reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
body {
  font-family: $main-font;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}
input,
textarea,
select,
button {
  font: inherit;
}
p {
  margin: 0;
}

//sections

.header {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 4px $color-darkgrey;
  position: relative;
  &__navigation {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 20px;
  }

  &__brand-logo {
    font-family: $logo-font;
    font-size: 2.2em;
    padding: 10px 0;
  }
}
.hero {
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__location {
    background-color: $color-grey;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 1.2em;
    gap: 15px;

    &-icon {
      @include icon();
    }
  }
  &__presentation {
    background-color: $color-darkwhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 60px 40px;

    &-title {
      font-size: 2em;
      font-weight: 700;
    }

    &-text {
      font-size: 1.3em;
    }

    &-btn {
      font-size: 1.2em;
      color: $color-white;
      background: linear-gradient(to bottom, $color-secondary, $color-primary);
      border-radius: 50px;
      padding: 18px 25px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.362);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 10px rgba($color-darkgrey, 0.9);
        background: linear-gradient(
          to bottom,
          rgba($color-secondary, 0.9),
          rgba($color-primary, 0.9)
        );
      }
    }
  }
}
.fonctionnement {
  height: 550px;
  padding: 60px 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-weight: 700;
    font-size: 1.9em;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__step {
    background-color: $color-darkwhite;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba($color-darkgrey, 0.4);
    padding: 30px 20px 30px 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      background-color: rgba($color-primary, 0.2);
      box-shadow: 2px 2px 10px rgba($color-darkgrey, 0.6);
      .fonctionnement__icon {
        color: $color-primary;
      }
    }
  }
  &__badge {
    background-color: #9356dc;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
  }
  &__number {
    color: $color-white;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }
  &__text {
  }
}
.restaurants {
  background-color: $color-darkwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-weight: 700;
    font-size: 2.1em;
    margin: 60px 0 30px 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    // border: 1px saddlebrown solid;
    margin-bottom: 80px;
  }
}

.card {
  border-radius: 25px;
  width: 90vw;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba($color-darkgrey, 0.2);

  &__labelnew {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: $color-tertiary;
    color: $color-tertiaryDark;
    padding: 8px 10px;
    font-size: 1.2em;
  }

  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 1.5em;
  }
  &__location {
    font-size: 1.5em;
    margin: 0;
  }
  &__heart {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  &__heart-icon {
    position: absolute;

    inset: 0;
    width: 100%;
    height: 100%;
    fill: $color-black;
    margin-right: 30px;
  }
  &__heart-icon--empty {
    fill: black;
  }

  &__heart-icon--filled {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &__heart:hover .card__heart-icon--filled {
    opacity: 1;
  }
}
.menu {
  background-color: $color-darkwhite;
  position: relative;
  top: -40px;
  border-radius: 35px;
  margin-bottom: 30px;
  &__body {
    background-color: $color-darkwhite;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 10px 15px;
  }
  &__heart {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  &__heart-icon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    fill: $color-black;
    height: 45px;
    margin-right: 30px;
  }
  &__heart-icon--empty {
    fill: black;
  }

  &__heart-icon--filled {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &__heart:hover .menu__heart-icon--filled {
    opacity: 1;
  }

  &__title {
    font-family: $logo-font;
    font-size: 1.6em;
  }
  &__sections {
    @media (min-width: 900px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      align-items: start;
    }
  }
  &__section {
    padding: 15px;
  }
  &__category-name {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 4px;
      background-color: $color-tertiary;
    }
  }
  &__items {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__text {
    flex: 1;
    min-width: 0;
  }
  &__validation-tick {
    flex: 0 0 60px;
    margin-right: -60px;
    width: 0;
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: translateX(100%);
    transition: margin-right 0.5s ease;
    &-icon {
      width: 25px;
      transform: rotate(180deg);
      transition: transform 0.7s ease;
    }
  }
  &__item {
    &:hover .menu__validation-tick {
      margin-right: 0;
    }
    &:hover .menu__validation-tick-icon {
      transform: rotate(0deg);
    }
    opacity: 0;
    transform: translateY(10px);
    animation: itemFade 1.5s ease forwards;
    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    // max-width: 280px;
    background-color: $color-white;
    box-shadow: 2px 2px 7px rgba($color-darkgrey, 0.2);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    &-name {
      font-weight: 500;
      margin-bottom: 6px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &-description {
      font-size: 0.8em;
      font-weight: 200;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-price {
      font-weight: 700;
      font-size: 0.9em;
      display: block;
      display: flex;
      justify-content: end;
      flex-direction: column;
      margin-right: 10px;
    }
    &-wrapper {
      // border: #197a5b solid 1px;
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      min-width: 0;
      position: relative;
      padding: 12px 10px;
    }
  }

  &__order {
    display: flex;
    justify-content: center;

    &-btn {
      font-size: 0.9em;
      color: $color-white;
      background: linear-gradient(to bottom, $color-secondary, $color-primary);
      border-radius: 50px;
      padding: 12px 40px;
      margin-top: 30px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.362);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 10px rgba($color-darkgrey, 0.9);
        background: linear-gradient(
          to bottom,
          rgba($color-secondary, 0.9),
          rgba($color-primary, 0.9)
        );
      }
    }
  }
}
.footer {
  background-color: $color-darkgrey;
  color: $color-white;
  padding-bottom: 30px;
  &__wrapper {
    padding: 25px;
  }
  &__title {
    font-family: $logo-font;
    font-size: 1.3em;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    font-size: 1.1em;
  }

  &__icon {
    width: 15px;
    height: 15px;
    color: $color-white;
    margin-right: 10px;
  }
}

@keyframes itemFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
