@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

p {
  margin: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 0.6s ease 3s forwards;
}

.loader {
  width: 250px;
  aspect-ratio: 2;
  --_f: no-repeat radial-gradient(circle closest-side, #9356dc 90%, #0000);
  --_g: no-repeat radial-gradient(circle closest-side, #ff79da 90%, #0000);
  --_h: no-repeat radial-gradient(circle closest-side, #99e2d0 90%, #0000);
  background: var(--_f) 0% 50%, var(--_g) 50% 50%, var(--_h) 100% 50%;
  background-size: 33.3333333333% 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 4px #2f2f2f;
  position: relative;
}
.header__navigation {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 20px;
}
.header__brand-logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.2em;
  padding: 10px 0;
}

.hero__img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.hero__location {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 1.2em;
  gap: 15px;
}
.hero__location-icon {
  width: 20px;
  height: 20px;
}
.hero__presentation {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  padding: 60px 40px;
}
.hero__presentation-title {
  font-size: 2em;
  font-weight: 700;
}
.hero__presentation-text {
  font-size: 1.3em;
}
.hero__presentation-btn {
  font-size: 1.2em;
  color: #ffffff;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border-radius: 50px;
  padding: 18px 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.362);
  transition: all 0.3s ease-in-out;
}
.hero__presentation-btn:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(47, 47, 47, 0.9);
  background: linear-gradient(to bottom, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}

.fonctionnement {
  padding: 60px 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.fonctionnement__title {
  font-weight: 700;
  font-size: 1.9em;
}
.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (min-width: 900px) {
  .fonctionnement__steps {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
}
.fonctionnement__step {
  flex-grow: 1;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(47, 47, 47, 0.4);
  padding: 30px 20px 30px 0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.fonctionnement__step:hover {
  transform: scale(1.05);
  background-color: rgba(147, 86, 220, 0.2);
  box-shadow: 2px 2px 10px rgba(47, 47, 47, 0.6);
}
.fonctionnement__step:hover .fonctionnement__icon {
  color: #9356dc;
}
.fonctionnement__badge {
  background-color: #9356dc;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
}
.fonctionnement__number {
  color: #ffffff;
}
.fonctionnement__icon {
  width: 30px;
  height: 30px;
}

.restaurants {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants__title {
  font-weight: 700;
  font-size: 2.1em;
  margin: 60px 0 30px 30px;
}
.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
  margin-bottom: 80px;
}
@media (min-width: 900px) {
  .restaurants__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  .restaurants__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(47, 47, 47, 0.2);
}
@media (min-width: 900px) {
  .card {
    max-width: none;
  }
}
.card__labelnew {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99e2d0;
  color: #197a5b;
  padding: 8px 10px;
  font-size: 1.2em;
}
.card__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  overflow: hidden;
}
.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}
.card__title {
  font-weight: 700;
  font-size: 1.5em;
}
.card__location {
  font-size: 1.5em;
  margin: 0;
}
.card__heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.card__heart-icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  fill: #111111;
  margin-right: 30px;
}
.card__heart-icon--empty {
  fill: black;
}
.card__heart-icon--filled {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.7s ease;
}
.card__heart:hover .card__heart-icon--filled {
  clip-path: inset(0 0 0 0);
}

.menu {
  background-color: #f5f5f5;
  position: relative;
  top: -40px;
  border-radius: 35px;
  margin-bottom: 30px;
}
.menu__body {
  background-color: #f5f5f5;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 10px 15px;
}
.menu__heart {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.menu__heart-icon {
  cursor: pointer;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  fill: #111111;
  height: 45px;
  margin-right: 30px;
}
.menu__heart-icon--empty {
  fill: black;
}
.menu__heart-icon--filled {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.7s ease;
}
.menu__heart:hover .menu__heart-icon--filled {
  clip-path: inset(0 0 0 0);
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.6em;
}
@media (min-width: 900px) {
  .menu__title {
    margin-left: 20px;
  }
}
@media (min-width: 900px) {
  .menu__sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
    padding: 0 20px;
  }
}
.menu__section {
  padding: 15px;
}
.menu__category-name {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.menu__category-name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 4px;
  background-color: #99e2d0;
}
.menu__items {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__text {
  flex: 1;
  min-width: 0;
}
.menu__validation-tick {
  flex: 0 0 60px;
  margin-right: -60px;
  width: 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 0.5s ease;
}
.menu__validation-tick-icon {
  width: 25px;
  transform: rotate(180deg);
  transition: transform 0.7s ease;
}
.menu__item:hover .menu__validation-tick {
  margin-right: 0;
}
.menu__item:hover .menu__validation-tick-icon {
  transform: rotate(0deg);
}
.menu__item {
  opacity: 0;
  transform: translateY(10px);
  animation: itemFade 1.5s ease forwards;
}
.menu__item:nth-child(1) {
  animation-delay: 0.1s;
}
.menu__item:nth-child(2) {
  animation-delay: 0.2s;
}
.menu__item:nth-child(3) {
  animation-delay: 0.3s;
}
.menu__item:nth-child(4) {
  animation-delay: 0.4s;
}
.menu__item {
  background-color: #ffffff;
  box-shadow: 2px 2px 7px rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.menu__item-name {
  font-weight: 500;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__item-description {
  font-size: 0.8em;
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__item-price {
  font-weight: 700;
  font-size: 0.9em;
  display: block;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-right: 10px;
}
.menu__item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 0;
  position: relative;
  padding: 12px 10px;
}
.menu__order {
  display: flex;
  justify-content: center;
}
.menu__order-btn {
  font-size: 0.9em;
  color: #ffffff;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border-radius: 50px;
  padding: 12px 40px;
  margin-top: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.362);
  transition: all 0.3s ease-in-out;
}
.menu__order-btn:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(47, 47, 47, 0.9);
  background: linear-gradient(to bottom, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}

.footer {
  background-color: #2f2f2f;
  color: #ffffff;
  padding-bottom: 30px;
}
.footer__wrapper {
  padding: 25px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.3em;
  margin-bottom: 25px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__item {
  font-size: 1.1em;
}
.footer__icon {
  width: 15px;
  height: 15px;
  color: #ffffff;
  margin-right: 10px;
}

@keyframes itemFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
